[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=LinkIt GUI
Icon=/usr/share/icons/hicolor/48x48/linkit.png
Exec=linkit-gui.sh
Terminal=false
Categories=Utility;Accessories;
